@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}


/* Header */

header {
    width: 1440px;
    height: 62px;
    margin: 18px auto 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    align-items: center;
}

header > img {
    width: 53px;
    height: 22px;
    margin-left: 71px;
}

.header-buttons {
    display: flex;
}

.header-buttons__login {
    width: 186px;
    height: 40px;
    color: #FF685B;
    background-color: transparent;
    border: 2px solid #FF685B;
    border-radius: 7px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    transition: .2s linear;
    margin-right: 70px;
}

.header-buttons__login:hover {
    color: #fff;
    background-color: #FF685B;
    transition: .2s linear;
}

.header-buttons__contacts {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    margin-right: 59px;
}

/* Main section */

.container {
    width: 1045px;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    padding-top: 80px;
}

.title-buttons {
    display: flex;
    gap: 10px;
    margin-top: 35px;
}

.title-buttons__login {
    background: #FF685B;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    border: none;
    padding: 15px 40px;
    color: #fff;
}

.title-buttons__contacts {
    background: #FFFFFF;
    border: 1px solid #FF685B;
    border-radius: 5px;
    padding: 15px 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #FF685B;
}

/* Cards */

.card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 80px;
    border: none;
}

.card-item {
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    height: 248px;
}

.card-icon {
    display: flex;
    align-items: center;
    width: 72px;
    min-height: 72px;
    background: #E74040;
    border-radius: 200px;
    margin-top: 35px;
    margin-left: 40px;
}

.card-icon > img {
    display: block;
    margin: 0 auto;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-top: 20px;
    margin-left: 40px;
}

.line {
    width: 50px;
    height: 2px;
    background: #E74040;
    margin-left: 40px;
    margin-top: 20px;
}

.card-item > span {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-top: 50px;
    margin-left: 40px;
}